<%- include('../partials/header') %> 
<%- include('../partials/navbar') %> 
<h1 style="text-align: center;">Edit page for the product</h1>


    <div class="container">
    <form class="validated-form" action="/products/<%= product._id %>?_method=PATCH" method="POST" novalidate>
        <div class="mb-3">
          <label for="name" class="form-label">Name of Product: </label>
          <input type="text" class="form-control" id="name" placeholder="Enter the name of product: " name="product[name]" value="<%=product.name%>" required>
          <!-- <dv id="emailHelp" class="form-text">We'll never share your email imagev> -->
        </div>
        <div class="mb-3">
          <label for="image" class="form-label" >Image URL: </label>
          <input type="text" class="form-control" id="image" placeholder="Enter the image URL: " name="product[image]"value="<%=product.image%>" required>
        </div>
        <div class="mb-3">
            <label for="price" class="form-label" >Price in Rs: </label>
            <input type="number" class="form-control" id="price" placeholder="Enter the price: " name="product[price]"value="<%=product.price%>" required>
        </div>
        <div>
            <label for="desc" class="form-label">Description: </label>
            <textarea id="desc" cols="30" rows="6" class="form-control" placeholder="Enter description here: " name="product[desc]" required><%= product.desc %> </textarea>
        </div>
        <!-- //here we have made an objet of product i.e name idk why  -->
        <!-- <textarea name="desc" id="desc" cols="50" rows="5" placeholder="Enter the description: " style="cursor: pointer; margin: 10px auto;"></textarea> -->
        <br><br>
      
        <button type="submit" class="btn btn-success">Add</button>
      </form>


    </div>

    
<%- include("../partials/footer") %> 